<div class="container">

  <section class="main-panel">
    <div class="col timer">
      <!-- <div class="digital">{{ getTimeString() }}</div> -->
      <div class="digital">
        {{ getTimeStringMinutes() }}
        <span class="dots fadeOutIn">:</span>
        {{ getTimeStringSeconds() }}
        <span class="dots fadeOutIn">.</span>
        {{ getTimeStringMilliseconds() }}
      </div> 
    </div>
    <div class="col controls">
      <button class="btn" (click)="onStart()"><i class="fa fa-play" aria-hidden="true"></i>start</button>
      <button class="btn" (click)="onPause()"><i class="fa fa-pause" aria-hidden="true"></i>pause</button>
      <button class="btn" (click)="onReset()"><i class="fa fa-stop" aria-hidden="true"></i>reset</button>
    </div>
  </section>

  <section class="logs">
    <ul>
      <li *ngFor="let log of logs">
        <span class="digital">{{ log }}</span>
        <button class="btn digital" (click)="onRemoveLog(log)">remove</button>
      </li>
    </ul>
  </section>

</div>


