@import 'assets/reset.css';

/* GLOBAL */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  min-width: 400px;
  min-height: 100vh;
}
body {
  font-size: 42px;
  background-color: #323232;
}
.container { 
  max-width: 660px;
  padding: 60px 30px;
  margin: auto;
}
.digital { font-family: 'Digital-7'; }
li { list-style: none; }
section:not(:last-child) { margin-bottom: 30px; }
.btn { cursor: pointer; }

/* MAIN PANEL */
.main-panel { text-align: center; }
.main-panel .col { padding: 5px 15px; }
.main-panel .timer {
  font-size: 90px;
  color: #81d930;
  background-color: #242424;
  border-radius: 10px 10px 0 0;
}
.main-panel .controls {
  display: flex;
  color: #000;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.main-panel .controls .btn { flex: 1; }
.main-panel .controls .btn:not(:last-child) { border-right: 1px solid #d7d7d7; }
.main-panel .controls i { padding-right: 5px; }

/* LOGS */
.logs { color: #fff; }
.logs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #626262;
  padding: 15px 0;
}
.logs .btn {
  font-size: 30px;
  color: #fff;
  background-color: #ff0000;
  padding: 6px 16px;
}

/* MEDIAQUERIES */
@media (max-width: 767px) {
  body { font-size: 24px; }
}

/* ANIMATION */
.dots { margin: -15px; }
@keyframes fadeOutIn {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
.fadeOutIn {animation: fadeOutIn 1s infinite; }